{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],

    "extends": [
        "eslint:recommended", // ESLint's inbuilt "recommended" config
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
        ]
}